build
src/Xeora.CLI/bin
src/Xeora.CLI/obj
src/Xeora.Web/bin
src/Xeora.Web/obj
src/Xeora.Web.Basics/bin
src/Xeora.Web.Basics/obj
src/Xeora.Web.Configuration/bin
src/Xeora.Web.Configuration/obj
src/Xeora.Web.Exceptions/bin
src/Xeora.Web.Exceptions/obj
src/Xeora.Web.Handler/bin
src/Xeora.Web.Handler/obj
src/Xeora.Web.Manager/bin
src/Xeora.Web.Manager/obj
src/Xeora.Web.Service/bin
src/Xeora.Web.Service/obj
src/Xeora.Web.Service.Application/bin
src/Xeora.Web.Service.Application/obj
src/Xeora.Web.Service.Context/bin
src/Xeora.Web.Service.Context/obj
src/Xeora.Web.Service.Dss/bin
src/Xeora.Web.Service.Dss/obj
src/Xeora.Web.Service.Net/bin
src/Xeora.Web.Service.Net/obj
src/Xeora.Web.Service.Session/bin
src/Xeora.Web.Service.Session/obj
src/Xeora.Web.Service.TaskScheduler/bin
src/Xeora.Web.Service.TaskScheduler/obj
src/Xeora.Web.Service.VariablePool/bin
src/Xeora.Web.Service.VariablePool/obj
src/Xeora.Web.Service.Workers/bin
src/Xeora.Web.Service.Workers/obj
src/Xeora.Web.Tools/bin
src/Xeora.Web.Tools/obj
